html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Comfortaa', cursive;
    font-family: 'Poppins', sans-serif;
}

body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    letter-spacing: 1px;
    font-weight: 600;
}

p {
    font-size: 0.9em;
    color: #8c9398;
    line-height: 2em;
}

ul {
    margin: 0;
    padding: 0;
}


/*--/header --*/

header.banner_section {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

button.btn.login-btn {
    padding: 8px 24px;
    background: none;
    color: #fff;
    border: none;
    font-size: 0.9em;
    letter-spacing: 1px;
    border: 2px solid #fff;
}

button.btn.login-btn:hover {
    background: #ffc107;
    color: #0e0d0d;
}

/*** Navigation Styles ***/

nav.main-header {
    width: 100%;
    height: 100px;
    background: rgba(0,0,0,.8);
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    top: 0;
    z-index: 10;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

nav.main-header.navShadow {
    -webkit-box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
    height: 80px;
    background: #f7f7f7;
}

#brand,
#menu,
ul.nav-honey {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#brand {
    padding-left: 40px;
    float: left;
    width: 20%;
}

div#word-mark {
    width: 120px;
    border-radius: 90px;
    margin-left: 8px;
    opacity: 1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

div#word-mark h1 a {
    color: #fff;
    font-size: 1em;
    font-weight: 800;
    line-height: 0;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}

nav.navShadow div#word-mark h1 a {
    color: #222;
}

nav.navShadow button.btn.login-btn {
    border: 2px solid #222;
    color: #fff;
    background: #222;
}

/*** Menu Styles ***/

#menu {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 40px;
    float: right;
    width: 80%;
}

.nav-honey li {
    margin-left: 20px;
    list-style: none;
}

.nav-honey li a {
    background: none;
    display: block;
    color: #fff;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;

    font-family: 'Poppins', sans-serif;
    padding: 0.5em;
}

a.dropdown-item {
    color: #888 !important;
    padding: 0.2em 0;
}

#menu-toggle {
    width: 55px;
    height: 55px;
    background: #037ef3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

#menu-toggle:hover .bar {
    width: 25px;
}

#menu-toggle.closeMenu .bar {
    width: 25px;
}

#menu-toggle.closeMenu .bar:first-child {
    -webkit-transform: translateY(7px) rotate(45deg);
    transform: translateY(7px) rotate(45deg);
}

#menu-toggle.closeMenu .bar:nth-child(2) {
    -webkit-transform: scale(0);
    transform: scale(0);
}

#menu-toggle.closeMenu .bar:last-child {
    -webkit-transform: translateY(-7px) rotate(-45deg);
    transform: translateY(-7px) rotate(-45deg);
}

.bar {
    width: 25px;
    height: 2px;
    background: #fff;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.bar:nth-child(2) {
    width: 20px;
    margin: 5px 0;
}

.bar:last-child {
    width: 15px;
}

.nav-honey li a.active {
    color: #ea1d5d;
}

nav.navShadow .nav-honey li a {
    color: #777;
}

/*--/banner--*/

.modal-body p a {
    color: #999;
}

/*-- /header --*/

.banner-top,
.banner-top1,
.banner-top2,
.banner-top {
    background: url(images/ImgMain.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    min-height: 800px;
}

/*.banner-top1 {*/
    /*background: url(images/2.jpg) no-repeat 0px 0px;*/
	/*background-size: cover;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*min-height: 800px;*/
/*}*/

/*.banner-top2 {*/
    /*background: url(images/3.jpg) no-repeat 0px 0px;*/
	/*background-size: cover;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*min-height: 800px; */
/*}*/

/*.banner-top3 {*/
    /*background: url(images/4.jpg) no-repeat 0px 0px;*/
	/*background-size: cover;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*min-height: 800px;*/
/*}*/

.banner-info-w3layouts {
    padding: 15% 0% 0 3%;
    width: 40%;
}

.banner-info-w3layouts h3 {
    font-size: 8em;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px rgba(45, 45, 45, 0.53);
    line-height: 1em;
}

.banner-info-w3layouts p {
    font-size: 1em;
    color: #fbbc05;
    margin: 1.5em 0;
    letter-spacing: 1px;
}

.banner-info-w3layouts i {
    vertical-align: middle;
}

/*-- //banner-info-w3layouts-top --*/

/*--slider--*/

#slider2,
#slider3 {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto;
}

.rslides_tabs li:first-child {
    margin-left: 0;
}

.rslides_tabs .rslides_here a {
    background: rgba(255, 255, 255, .1);
    color: #fff;
    font-weight: bold;
}

.events {
    list-style: none;
}

.callbacks_container {
    position: relative;
    float: left;
    width: 100%;
}

.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.callbacks li {
    position: absolute;
    width: 100%;
}

.callbacks img {
    position: relative;
    z-index: 1;
    height: auto;
    border: 0;
}

.callbacks .caption {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    text-shadow: none;
    color: #fff;
    left: 0;
    right: 0;
    padding: 10px 20px;
    margin: 0;
    max-width: none;
    top: 10%;
    text-align: center;
}

/***/

.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    bottom: 8%;
    left: 40px;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 34px;
    width: 34px;
    background: url(images/next.png) no-repeat 0px 0px;
}

.callbacks_nav.next {
    left: auto;
    background: url(images/next.png) no-repeat 0px 0px;
    right: 1%;
}

.callbacks_nav.prev {
    left: auto;
    background: url(images/prev.png) no-repeat 0px 0px;
    right: 5%;
}

/**/

#slider3-pager a {
    display: inline-block;
}

#slider3-pager span {
    float: left;
}

#slider3-pager span {
    width: 100px;
    height: 15px;
    background: #fff;
    display: inline-block;
    border-radius: 30em;
    opacity: 0.6;
}

#slider3-pager .rslides_here a {
    background: #FFF;
    border-radius: 30em;
    opacity: 1;
}

#slider3-pager a {
    padding: 0;
}

#slider3-pager li {
    display: inline-block;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    height: auto;
    border: 0;
}

.callbacks_tabs {
    list-style: none;
    position: absolute;
    bottom: 12%;
    right: 1%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 9;
}

.slider-top span {
    font-weight: 600;
}

.callbacks_tabs li {
    display: inline-block;
    margin: 0px 4px;
}

/*----*/

.callbacks_tabs a {
    border: 2px solid #fff;
    width: 30px;
    height: 30px;
    line-height: 26px;
    border-radius: 50%;
    color: #fff;
    display: block;
    text-align: center;
    font-size: 0.8em;
}

.callbacks_here a {
    background: #FBBC05;
    border: 2px solid #FBBC05;
}

.slider {
    position: relative;
}

/*-- //slider --*/

/*--//banner--*/

/*--/about--*/

.sub-tittle {
    font-size: 0.3em;
    color: #ea1d5d;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    display: block;
}

h3.tittle-w3 {
    text-shadow: 2px 2px 2px rgba(41, 41, 41, 0.15);
    font-size: 3.3em;
    color: #333338;
    font-weight: 700;
}

/*----*/

/* Animation Delay */

.d01 {
    animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
}

.d02 {
    animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.d03 {
    animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

.d04 {
    animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.d05 {
    animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.d06 {
    animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.d07 {
    animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}

.d08 {
    animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

.d09 {
    animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
}

.d10 {
    animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.d11 {
    animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
    -webkit-animation-delay: 1.1s;
}

.d12 {
    animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}

.d13 {
    animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
}

.d14 {
    animation-delay: 1.4s;
    -moz-animation-delay: 1.4s;
    -webkit-animation-delay: 1.4s;
}

.d15 {
    animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}

.d16 {
    animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s;
}

.d17 {
    animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
    -webkit-animation-delay: 1.7s;
}

.d18 {
    animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
    -webkit-animation-delay: 1.8s;
}

.d19 {
    animation-delay: 1.9s;
    -moz-animation-delay: 1.9s;
    -webkit-animation-delay: 1.9s;
}

.d21 {
    animation-delay: 2.1s;
    -moz-animation-delay: 2.1s;
    -webkit-animation-delay: 2.1s;
}

.d26 {
    animation-delay: 2.6s;
    -moz-animation-delay: 2.6s;
    -webkit-animation-delay: 2.6s;
}

.t14 {
    animation-duration: 1.4s !important;
}

.t24 {
    animation-duration: 2.4s !important;
}

/*Animation ends*/

.anim,
.anima {
    opacity: 0;
}

.anim.animated,
.anima.animated {
    opacity: 1;
}

/***CSS Animations****/

@charset "UTF-8";

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2017 Daniel Eden
 */

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

.animated.hinge {
    animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
    animation-duration: .75s;
}

@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        transform: translate3d(0, -4px, 0);
    }
}

.animated.bounce {
    animation-name: bounce;
    transform-origin: center bottom;
}

@keyframes flash {
    from,
    50%,
    to {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.animated.flash {
    animation-name: flash;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.animated.pulse {
    animation-name: pulse;
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.animated.rubberBand {
    animation-name: rubberBand;
}

@keyframes shake {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0);
    }
}

.animated.rubber {
    animation-name: shake;
}

@keyframes headShake {
    0% {
        transform: translateX(0);
    }

    6.5% {
        transform: translateX(-6px) rotateY(-9deg);
    }

    18.5% {
        transform: translateX(5px) rotateY(7deg);
    }

    31.5% {
        transform: translateX(-3px) rotateY(-5deg);
    }

    43.5% {
        transform: translateX(2px) rotateY(3deg);
    }

    50% {
        transform: translateX(0);
    }
}

.animated.headShake {
    animation-timing-function: ease-in-out;
    animation-name: headShake;
}

@keyframes swing {
    20% {
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

.animated.swing {
    transform-origin: top center;
    animation-name: swing;
}

@keyframes tada {
    from {
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.animated.tada {
    animation-name: tada;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes wobble {
    from {
        transform: none;
    }

    15% {
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        transform: none;
    }
}

.animated.wobble {
    animation-name: wobble;
}

@keyframes jello {
    from,
    11.1%,
    to {
        transform: none;
    }

    22.2% {
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }

    33.3% {
        transform: skewX(6.25deg) skewY(6.25deg);
    }

    44.4% {
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }

    88.8% {
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}

.animated.jello {
    animation-name: jello;
    transform-origin: center;
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.animated.bounceIn {
    animation-name: bounceIn;
}

@keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }

    75% {
        transform: translate3d(0, -10px, 0);
    }

    90% {
        transform: translate3d(0, 5px, 0);
    }

    to {
        transform: none;
    }
}

.animated.bounceInDown {
    animation-name: bounceInDown;
}

@keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }

    75% {
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        transform: translate3d(5px, 0, 0);
    }

    to {
        transform: none;
    }
}

.bounceInLeft {
    animation-name: bounceInLeft;
}

@keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        transform: translate3d(10px, 0, 0);
    }

    90% {
        transform: translate3d(-5px, 0, 0);
    }

    to {
        transform: none;
    }
}

.animated.bounceInRight {
    animation-name: bounceInRight;
}

@keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }

    75% {
        transform: translate3d(0, 10px, 0);
    }

    90% {
        transform: translate3d(0, -5px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.animated.bounceInUp {
    animation-name: bounceInUp;
}

@keyframes bounceOut {
    20% {
        transform: scale3d(.9, .9, .9);
    }

    50%,
    55% {
        opacity: 1;
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
}

.animated.bounceOut {
    animation-name: bounceOut;
}

@keyframes bounceOutDown {
    20% {
        transform: translate3d(0, 10px, 0);
    }

    40%,
    45% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(0, 2000px, 0);
    }
}

.animated.bounceOutDown {
    animation-name: bounceOutDown;
}

@keyframes bounceOutLeft {
    20% {
        opacity: 1;
        transform: translate3d(20px, 0, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0);
    }
}

.animated.bounceOutLeft {
    animation-name: bounceOutLeft;
}

@keyframes bounceOutRight {
    20% {
        opacity: 1;
        transform: translate3d(-20px, 0, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(2000px, 0, 0);
    }
}

.animated.bounceOutRight {
    animation-name: bounceOutRight;
}

@keyframes bounceOutUp {
    20% {
        transform: translate3d(0, -10px, 0);
    }

    40%,
    45% {
        opacity: 1;
        transform: translate3d(0, 20px, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(0, -2000px, 0);
    }
}

.animated.bounceOutUp {
    animation-name: bounceOutUp;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animated.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.animated.fadeInDown {
    animation-name: fadeInDown;
}

@keyframes fadeInDownBig {
    from {
        opacity: 0;
        transform: translate3d(0, -2000px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.animated.fadeInDownBig {
    animation-name: fadeInDownBig;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.animated.fadeInLeft {
    animation-name: fadeInLeft;
}

@keyframes fadeInLeftBig {
    from {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.animated.fadeInLeftBig {
    animation-name: fadeInLeftBig;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.animated.fadeInRight {
    animation-name: fadeInRight;
}

@keyframes fadeInRightBig {
    from {
        opacity: 0;
        transform: translate3d(2000px, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.animated.fadeInRightBig {
    animation-name: fadeInRightBig;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.animated.fadeInUp {
    animation-name: fadeInUp;
}

@keyframes fadeInUpBig {
    from {
        opacity: 0;
        transform: translate3d(0, 2000px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.animated.fadeInUpBig {
    animation-name: fadeInUpBig;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.animated.fadeOut {
    animation-name: fadeOut;
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

.animated.fadeOutDown {
    animation-name: fadeOutDown;
}

@keyframes fadeOutDownBig {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 2000px, 0);
    }
}

.animated.fadeOutDownBig {
    animation-name: fadeOutDownBig;
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
}

.animated.fadeOutLeft {
    animation-name: fadeOutLeft;
}

@keyframes fadeOutLeftBig {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0);
    }
}

.animated.fadeOutLeftBig {
    animation-name: fadeOutLeftBig;
}

@keyframes fadeOutRight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
}

.animated.fadeOutRight {
    animation-name: fadeOutRight;
}

@keyframes fadeOutRightBig {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(2000px, 0, 0);
    }
}

.animated.fadeOutRightBig {
    animation-name: fadeOutRightBig;
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}

.animated.fadeOutUp {
    animation-name: fadeOutUp;
}

@keyframes fadeOutUpBig {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, -2000px, 0);
    }
}

.animated.fadeOutUpBig {
    animation-name: fadeOutUpBig;
}

@keyframes flip {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        animation-timing-function: ease-out;
    }

    40% {
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        animation-timing-function: ease-out;
    }

    50% {
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        animation-timing-function: ease-in;
    }

    80% {
        transform: perspective(400px) scale3d(.95, .95, .95);
        animation-timing-function: ease-in;
    }

    to {
        transform: perspective(400px);
        animation-timing-function: ease-in;
    }
}

.animated.flip {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    animation-name: flip;
}

@keyframes flipInX {
    from {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

.animated.flipInX {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-name: flipInX;
}

@keyframes flipInY {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

.animated.flipInY {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-name: flipInY;
}

@keyframes flipOutX {
    from {
        transform: perspective(400px);
    }

    30% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        opacity: 1;
    }

    to {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0;
    }
}

.animated.flipOutX {
    animation-name: flipOutX;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
}

@keyframes flipOutY {
    from {
        transform: perspective(400px);
    }

    30% {
        transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
        opacity: 1;
    }

    to {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        opacity: 0;
    }
}

.animated.flipOutY {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-name: flipOutY;
}

@keyframes lightSpeedIn {
    from {
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }

    60% {
        transform: skewX(20deg);
        opacity: 1;
    }

    80% {
        transform: skewX(-5deg);
        opacity: 1;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

.animated.lightSpeedIn {
    animation-name: lightSpeedIn;
    animation-timing-function: ease-out;
}

@keyframes lightSpeedOut {
    from {
        opacity: 1;
    }

    to {
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
}

.animated.lightSpeedOut {
    animation-name: lightSpeedOut;
    animation-timing-function: ease-in;
}

@keyframes rotateIn {
    from {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        transform-origin: center;
        transform: none;
        opacity: 1;
    }
}

.animated.rotateIn {
    animation-name: rotateIn;
}

@keyframes rotateInDownLeft {
    from {
        transform-origin: left bottom;
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }

    to {
        transform-origin: left bottom;
        transform: none;
        opacity: 1;
    }
}

.animated.rotateInDownLeft {
    animation-name: rotateInDownLeft;
}

@keyframes rotateInDownRight {
    from {
        transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }

    to {
        transform-origin: right bottom;
        transform: none;
        opacity: 1;
    }
}

.animated.rotateInDownRight {
    animation-name: rotateInDownRight;
}

@keyframes rotateInUpLeft {
    from {
        transform-origin: left bottom;
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }

    to {
        transform-origin: left bottom;
        transform: none;
        opacity: 1;
    }
}

.animated.rotateInUpLeft {
    animation-name: rotateInUpLeft;
}

@keyframes rotateInUpRight {
    from {
        transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, -90deg);
        opacity: 0;
    }

    to {
        transform-origin: right bottom;
        transform: none;
        opacity: 1;
    }
}

.animated.rotateInUpRight {
    animation-name: rotateInUpRight;
}

@keyframes rotateOut {
    from {
        transform-origin: center;
        opacity: 1;
    }

    to {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, 200deg);
        opacity: 0;
    }
}

.animated.rotateOut {
    animation-name: rotateOut;
}

@keyframes rotateOutDownLeft {
    from {
        transform-origin: left bottom;
        opacity: 1;
    }

    to {
        transform-origin: left bottom;
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }
}

.animated.rotateOutDownLeft {
    animation-name: rotateOutDownLeft;
}

@keyframes rotateOutDownRight {
    from {
        transform-origin: right bottom;
        opacity: 1;
    }

    to {
        transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }
}

.animated.rotateOutDownRight {
    animation-name: rotateOutDownRight;
}

@keyframes rotateOutUpLeft {
    from {
        transform-origin: left bottom;
        opacity: 1;
    }

    to {
        transform-origin: left bottom;
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }
}

.animated.rotateOutUpLeft {
    animation-name: rotateOutUpLeft;
}

@keyframes rotateOutUpRight {
    from {
        transform-origin: right bottom;
        opacity: 1;
    }

    to {
        transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, 90deg);
        opacity: 0;
    }
}

.animated.rotateOutUpRight {
    animation-name: rotateOutUpRight;
}

@keyframes hinge {
    0% {
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }

    20%,
    60% {
        transform: rotate3d(0, 0, 1, 80deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }

    40%,
    80% {
        transform: rotate3d(0, 0, 1, 60deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
        opacity: 1;
    }

    to {
        transform: translate3d(0, 700px, 0);
        opacity: 0;
    }
}

.animated.hinge {
    animation-name: hinge;
}

@keyframes jackInTheBox {
    from {
        opacity: 0;
        transform: scale(0.1) rotate(30deg);
        transform-origin: center bottom;
    }

    50% {
        transform: rotate(-10deg);
    }

    70% {
        transform: rotate(3deg);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animated.jackInTheBox {
    animation-name: jackInTheBox;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollIn {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.animated.rollIn {
    animation-name: rollIn;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }
}

.animated.rollOut {
    animation-name: rollOut;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

.animated.zoomIn {
    animation-name: zoomIn;
}

@keyframes zoomInDown {
    from {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.animated.zoomInDown {
    animation-name: zoomInDown;
}

@keyframes zoomInLeft {
    from {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.animated.zoomInLeft {
    animation-name: zoomInLeft;
}

@keyframes zoomInRight {
    from {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.animated.zoomInRight {
    animation-name: zoomInRight;
}

@keyframes zoomInUp {
    from {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.animated.zoomInUp {
    animation-name: zoomInUp;
}

@keyframes zoomOut {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    to {
        opacity: 0;
    }
}

.animated.zoomOut {
    animation-name: zoomOut;
}

@keyframes zoomOutDown {
    40% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    to {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
        transform-origin: center bottom;
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.animated.zoomOutDown {
    animation-name: zoomOutDown;
}

@keyframes zoomOutLeft {
    40% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0);
    }

    to {
        opacity: 0;
        transform: scale(.1) translate3d(-2000px, 0, 0);
        transform-origin: left center;
    }
}

.animated.zoomOutLeft {
    animation-name: zoomOutLeft;
}

@keyframes zoomOutRight {
    40% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
    }

    to {
        opacity: 0;
        transform: scale(.1) translate3d(2000px, 0, 0);
        transform-origin: right center;
    }
}

.animated.zoomOutRight {
    animation-name: zoomOutRight;
}

@keyframes zoomOutUp {
    40% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    to {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
        transform-origin: center bottom;
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.animated.zoomOutUp {
    animation-name: zoomOutUp;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -1000%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.animated.slideInDown {
    animation-name: slideInDown;
}

@keyframes slideInLeft {
    from {
        transform: translate3d(-1000%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.animated.slideInLeft {
    animation-name: slideInLeft;
}

@keyframes slideInRight {
    from {
        transform: translate3d(1000%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.animated.slideInRight {
    animation-name: slideInRight;
}

@keyframes slideInUp {
    from {
        transform: translate3d(0, 1000%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.animated.slideInUp {
    animation-name: slideInUp;
}

@keyframes slideOutDown {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(0, 1000%, 0);
    }
}

.animated.slideOutDown {
    animation-name: slideOutDown;
}

@keyframes slideOutLeft {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(-1000%, 0, 0);
    }
}

.animated.slideOutLeft {
    animation-name: slideOutLeft;
}

@keyframes slideOutRight {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(1000%, 0, 0);
    }
}

.animated.slideOutRight {
    animation-name: slideOutRight;
}

@keyframes slideOutUp {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(0, -1000%, 0);
    }
}

.animated.slideOutUp {
    animation-name: slideOutUp;
}


.testimonial-sec {
    overflow: hidden !important;
}

/**************Animation CSS End Here****************/

/**************Who View Your Profile CSS Start Here****************/

#timeline {
    list-style: none;
    position: relative;
    margin: 50px auto;
    width: 90%;
}

#timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background-color: #2ab53f;
    left: 50%;
    margin-left: -2.5px;
}

#timeline .clearFix {
    clear: both;
    height: 0;
}

#timeline .timeline-badge {
    color: #fff;
    width: 25px;
    height: 25px;
    font-size: 1.2em;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -13px;
    background-color: #fff;
    z-index: 6;
    border-radius: 50%;
    border: 2px solid #2ab53f;
    background: #2ab53f !important;
}

#timeline .timeline-badge span.timeline-balloon-date-day {
    font-size: 1.4em;
}

#timeline .timeline-badge span.timeline-balloon-date-month {
    font-size: .7em;
    position: relative;
    top: -10px;
}

#timeline .timeline-badge.timeline-filter-movement {
    background-color: #ffffff;
    font-size: 1.7em;
    height: 35px;
    margin-left: -18px;
    width: 35px;
    top: 40px;
}

#timeline .timeline-badge.timeline-filter-movement a span {
    color: #4997cd;
    font-size: 1.3em;
    top: -1px;
}

#timeline .timeline-badge.timeline-future-movement {
    background-color: #ffffff;
    font-size: 1.7em;
    top: -16px;
}

#timeline .timeline-badge.timeline-future-movement p {
    color: #313131;
    position: absolute;
    top: -12px;
    left: 32px;
}

#timeline .timeline-badge.timeline-future-movement a span {
    color: #4997cd;
    font-size: .9em;
    top: 0;
    left: 1px;
}

#timeline .timeline-movement {
    /*   border-bottom: dashed 1px #4997cd; */
    position: relative;
    margin-bottom: 1rem;
}

#timeline .timeline-movement.timeline-movement-top {
    height: 60px;
}

/* #timeline .timeline-movement .timeline-item {
  padding: 20px 0;
} */

#timeline .timeline-movement .timeline-item .timeline-panel {
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    background-color: #FFFFFF;
    color: #666;
    padding: 10px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

#timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul .lefting-wrap {
    float: right;
    width: 30%;
    height: 130px;
    background-color: floralwhite;
}

#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul .righting-wrap {
    float: left;
    width: 70%;
    height: 130px;
    padding: 0 12px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li {
    color: #666;
    width: 100%;
}

.clear {
    clear: both;
}

#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul .lefting-wrap {
    float: left;
    width: 30%;
    height: 130px;
    background-color: floralwhite;
}

#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul .righting-wrap {
    float: right;
    width: 70%;
    height: 130px;
    padding: 0 0 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul li.img-wraping {
    width: 100%;
}

#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul li.img-wraping a img,
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li.img-wraping a img {
    width: 100%;
    height: 130px;
}

#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul li {
    color: #666;
    width: 100%;
}

#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li a.importo {
    color: #585556;
    font-size: 0.85em;
    font-weight: 600;
}

#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul {
    text-align: left;
}

#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul a.importo {
    color: #585556;
    font-size: 0.85em;
    font-weight: 600;
}

/**************Who View Your Profile CSS End Here****************/

/*----*/

.stats {
    background: url(images/2.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    padding: 4em 0;
}

.counter {
    background: none;
    padding: 20px 0;
    border-radius: 0;
    color: #fff;
}

.count-title {
    font-size: 4em;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 600;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    font-weight: 600;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}

/*---------about---------*/

.about {
    background: #1b1c1d;
}

.about-img {
    background: url(images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 450px;
}

.play {
    margin-top: 12em;
}

.play i {
    background: rgba(255, 255, 255, 0.27);
    width: 80px;
    height: 80px;
    line-height: 79px;
    border-radius: 50%;
    color: #fff;
    font-size: 1.3em;
}

.login iframe {
    width: 100%;
    height: auto;
}

.mb-60 {
    margin-bottom: 60px;
}

.services-inner {
    border: 2px solid #2ab53f;
    margin-left: 35px;
    transition: .3s;
}

.our-services-img {
    float: left;
    margin-left: -36px;
    margin-right: 22px;
    margin-top: 28px;
}

.our-services-img span {
    width: 68px;
    height: 68px;
    background: #f8f9fa;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5em;
    color: #28a745;
    line-height: 2.8em;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.our-services-text {
    padding-right: 10px;
}

.our-services-text {
    overflow: hidden;
    padding: 28px 0 25px;
}

.our-services-text h4 {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}

.our-services-text h4::before {
    background: #ea1d5d none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    position: absolute;
    width: 35px;
}

.our-services-wrapper:hover .services-inner {
    background: #fff none repeat scroll 0 0;
    border: 2px solid transparent;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.our-services-text p {
    margin-bottom: 0;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #666;
    margin-bottom: 15px;
}

/*-------*/

ul.partners-icon li i {
    font-size: 4em;
    color: #2b2b2b;
}

.instagram-post-img {
    padding: 0;
}

.rsvp button.btn.login-btn {
    padding: 10px 35px;
    background: #ea1d5d;
    color: #fff;
    border: none;
    font-size: 0.95em;
    letter-spacing: 1px;
    border: 2px solid #ea1d5d;
}

/*-------*/

/*-----/speakers------*/

.team-info h3 {
    font-size: 2.5em;
    font-weight: 700;
    color: #444;
}

.team-info h4 {
    font-size: 0.9em;
    color: #555;
    position: relative;

}

.team-info h4:after {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: -19px;
    width: 2px;
    height: 35px;
    background-color: #222;
    pointer-events: none;
}

ul.team-icons li {
    list-style: none;
    display: inline-block;
    margin-right: 1em;
}

ul.team-icons li a span {
    color: #333;
    text-decoration: none;
    font-size: 18px;
}

ul.team-icons li a {
    color: #333;
    font-size: 18px;
}

.speak {
    margin: 0 auto;
    width: 70%;
}

.team-info {
    margin-top: 11em;
    padding-left: 2em;
}

.rsvp img {
    background: #eaebec;
    padding: 0.7em;
}

ul.team-icons.new-inf li a,
ul.team-icons.new-inf li span {
    font-size: 15px;
    color: #666;
}

ul.team-icons.new-inf li {
    color: #666;
    font-size: 15px;
}

/*---------*/

.address-right p {
    line-height: 0.8em;
}

.address-right h6 {
    color: #333338;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
    letter-spacing: 2px;
}

.address-grid i {
    font-size: 2em;
    color: #28a745;
}

.contact_grid_right {
    width: 100%;
}

p.sub {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.8em;
}

.contact_left_grid label {
    color: #7d7f80;
    letter-spacing: 2px;
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
}

.contact_grid_right input[type="text"],
.contact_grid_right input[type="email"],
.contact_grid_right textarea {
    outline: none;
    padding: 15px 15px;
    font-size: 14px;
    color: #888;
    background: none;
    width: 100%;
    letter-spacing: 1px;
    border: 2px solid rgba(143, 143, 144, 0.36);
}

.contact_grid_right textarea {
    min-height: 196px;
    resize: none;
    border-radius: 0.25rem;
    background: none;
}

.contact_grid_right input[type="submit"] {
    outline: none;
    padding: 1.2em 3em;
    font-size: 14px;
    color: #fff;
    background: #037ef3;
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    font-weight: 600;
    cursor: pointer;

}

.contact_grid_right input[type="submit"]:hover {
    background: #ffd900;
}

.contact_grid_right input[type="text"]:focus,
.contact_grid_right input[type="password"]:focus,
.contact_grid_right textarea:focus {
    background: none;
    outline: 0;
    box-shadow: none;
    border: 2px solid rgba(3, 126, 243, 0.86);
}

.contact-left h4 {
    color: #444;
    font-size: 1em;
    margin-bottom: .5em;
    letter-spacing: 1px;
    font-weight: 700;
}

.contact-left p {
    font-size: 1em;
    letter-spacing: 1px;
}

.contact-text a {
    color: #888;
}

.contact-text a:hover {
    color: #fb383b;
}

.contact_grid_right h6,
.contact-left h6 {
    font-size: 1.2em;
    color: #292b2c;
    margin-bottom: 1.5em;
    letter-spacing: 1px;
    font-weight: 400;
}

.contact-map {
    width: 100%;
}

.contact-map iframe {
    width: 100%;
    height: 350px;
    border: 10px solid #ebeeef;
}

.ad-inf-sec {
    padding: 4em 0;
}

.address-right a {
    color: #888;
}

/*-- //contact--*/

/*-- /footer --*/

.footer-top {
    overflow: hidden;
}

.footer {
    background-color: #f7f7f7;

}

.footer-top ul li {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 86px 35px 86px;
    border-color: transparent transparent #f7f7f7 transparent;
    display: inline-block;
}

.list-footer .nav-link {
    display: block;
    padding: 0.5rem 0rem;
}

.footer-top ul {
    padding-left: 0;
    margin: 0;
    display: block;
    height: 35px;
    width: 200%;
}

footer h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #292828;
}

form.newsletter {
    background: #fff;
    padding: 0.5em;
    border-radius: 56px;
    box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
}

.newsletter .email {
    outline: none;
    padding: 7px 15px;
    color: #777;
    font-size: 15px;
    width: 68%;
    background: transparent;
    border: none;
    letter-spacing: 2px;
}

.newsletter input[type="submit"] {
    color: #fff;
    border: none;
    padding: 6px 15px;
    text-transform: uppercase;
    text-decoration: none;
    background: #fbbc05;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    float: right;
    cursor: pointer;
    width: 27%;
    border-radius: 25px;
    font-weight: 500;
}

.newsletter input[type="submit"]:hover {
    background: #333;
}

.footer-end-grid h2 a {
    color: #333;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 0;
    letter-spacing: 1px;
    display: inline-block;
}

.copy-right-w3layouts p a {
    color: #414344;
}

ul.list-footer li a {
    color: #666;
    font-size: 0.85em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul.list-footer li a:hover {
    color: #212529;

}

ul.list-footer li {
    list-style: none;
    color: #fff;
}

ul.social-icons li {
    list-style: none;
    margin: 0 0.2em;
    color: #6c757d;
}

ul.social-icons li a {
    text-align: center;
    color: #fff;
    border: transparent;
    display: inline-block;
    line-height: 27px;
    border-radius: 25px;
    padding: 0.1em 1.1em;
    font-weight: 500;
    background: #3b5998;
    font-size: 0.8em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

ul.social-icons li a {
    background: #3b5998;
}

ul.social-icons li:nth-child(2) a {
    background: #1da1f2;
}

ul.social-icons li:nth-child(3) a {
    background: #d43f3a;
}

ul.social-icons li:nth-child(4) a {
    background: #ea4c89;
}

ul.social-icons li a:hover {
    opacity: 0.8;
}

ul.social-icons li a.reg-in {
    background: none;
    color: #999;
}

ul.social-icons li a.reg-in.two {
    background: #2ab53f;
    color: #fff;

}

li.fallow {
    line-height: 2em;
    margin-left: 0;
}

.contact-single form label {
    font-size: 0.9em;
    color: #1f1f1f;
    font-weight: 600;
}

.contact-single .form-control {
    margin-bottom: 25px;
    border: 1px solid #e5e7f2;
    background: #f7f9fb;
    padding: 12px 20px;
}

.media-body h5 {
    font-size: 1.1em;
}

/*-- //footer --*/

/*--/abou-page--*/

.page-inner {
    background: url(images/2.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 250px;
}

li.breadcrumb-item {
    font-size: 0.9em;
    letter-spacing: 1px;
}

li.breadcrumb-item a {
    color: #ea357b;
}

.breadcrumb-item.active {
    color: #888;
}

ol.breadcrumb {
    background: none;
    margin: 0;
    padding: 1em 2em;
    background: #f7f7f7;
}

/*--//abou-page--*/

/*-- to-top --*/

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 36px;
    height: 36px;
    border: none;
    text-indent: 100%;
    background: #0d0d0d url(images/move_up.png) no-repeat 10px 9px;
}

#toTopHover {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

/*-- //to-top --*/

@media(max-width:1366px) {
    .banner-info-w3layouts h3 {
        font-size: 7em;
    }
    .banner-top,
    .banner-top1,
    .banner-top2,
    .banner-top3 {
        min-height: 775px;
    }
    .team-info h3 {
        font-size: 2em;
    }
    h3.tittle-w3 {
        font-size: 3em;
    }
    .newsletter input[type="submit"] {
        width: 30%;
    }
}

@media(max-width:1080px) {
    .banner-info-w3layouts h3 {
        font-size: 5.5em;
    }
    .banner-top,
    .banner-top1,
    .banner-top2,
    .banner-top3 {
        min-height: 612px;
    }
    .count-title {
        font-size: 3em;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .team-info {
        margin-top: 7em;
        padding-left: 2em;
    }
    .newsletter .email {
        padding: 7px 15px;
        font-size: 15px;
        width: 56%;
    }
    .newsletter input[type="submit"] {
        width: 43%;
    }
    ul.social-icons li a {
        padding: 0.1em 1em;
        font-size: 0.5em;
    }
    .page-inner {
        min-height: 175px;
    }
}

@media(max-width:1024px) {
    .speak {
        margin: 0 auto;
        width: 90%;
    }
    h3.tittle-w3 {
        font-size: 2.7em;
    }
    .nav-honey li {
        margin-left: 9px;
    }
    .team-info h3 {
        font-size: 1.5em;
    }
    .banner-info-w3layouts {
        padding: 18% 0% 0 3%;
        width: 55%;
    }
}

@media(max-width:991px) {
    ul.social-icons li a {
        padding: 0.1em 1em;
        font-size: 0.8em;
    }
    form.newsletter {
        width: 56%;
    }
    h3.tittle-w3 {
        font-size: 2.5em;
    }
    .footer-end-grid:nth-child(1) {
        margin-bottom: 2em;
    }
    .nav-honey li a {
        font-size: 0.8em;
        padding: 0.5em;
        letter-spacing: 1px;
    }
    .banner-info-w3layouts {
        padding: 26% 0% 0 3%;
        width: 58%;
    }
    ul.partners-icon li i {
        font-size: 3em;
    }
    #timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul a.importo {
        font-size: 0.65em;
    }
    #timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul li,
    #timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li {
        width: 100%;
        font-size: 0.8em;
    }

}

/*** Responsive Menu For Smaller Device ***/

@media screen and (max-width:900px) {
    /**nav**/
    #menu-toggle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    nav.main-header {
        height: 75px;
    }
    ul.nav-honey {
        display: inline-block;
        width: 98vw;
        height: auto;
        background: transparent;
        position: absolute;
        top: 65px !important;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        left: 0px;
    }
    div#word-mark h1 a {
        font-size: 0.9em;
    }
    nav.main-header.navShadow {
        height: 65px;
    }
    ul.showMenu li {
        height: auto;
        opacity: 1;
        visibility: visible;
    }
    .nav-honey li {
        width: 15%;
        float: left;
        padding-left: 40px;
        opacity: 0;
        visibility: hidden;
        margin-left: 0;
        -webkit-transition: all 0.3s 0.1s;
        transition: all 0.3s 0.1s;
    }
    .nav-honey li a {
        padding: 0;
    }
    #head-line {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    ul.nav-honey.showMenu li {
        background: #111;
        padding: 1em 0;
        text-align: center;
    }
    ul.nav-honey.showMenu li.login {
        padding: 0.6em 0;
    }
    #brand {
        padding-left: 30px;
        float: left;
        width: 24%;
    }
    /**nav**/
    .banner-info-w3layouts p {
        font-size: 0.9em;
        margin: 1.5em 0 0 0;
        letter-spacing: 1px;
    }
}

@media(max-width:800px) {
    .nav-honey li {
        margin-left: 4px;
    }
    .banner-info-w3layouts h3 {
        font-size: 5em;
    }
    .banner-info-w3layouts {
        padding: 26% 0% 0 3%;
        width: 58%;
    }

}

@media(max-width:768px) {
    .banner-info-w3layouts {
        padding: 25% 0% 0 3%;
        width: 58%;
    }
    .banner-top,
    .banner-top1,
    .banner-top2,
    .banner-top3 {
        min-height: 583px;
    }
}

@media(max-width:767px) {
    .banner-info-w3layouts {
        padding: 26% 0% 0 3%;
        width: 58%;
    }
    .banner-top,
    .banner-top1,
    .banner-top2,
    .banner-top3 {
        min-height: 575px;
    }
    .team-info {
        margin-top: 0em;
        padding-left: 1em;
        margin: 1em 0;
    }

}

@media(max-width:736px) {
    ul.partners-icon li {
        margin-bottom: 1em;
    }
    ul.partners-icon li i {
        font-size: 2em;
    }
    .footer-bottom-cpy {
        display: block !important;
    }
}

@media(max-width:667px) {
    .banner-top,
    .banner-top1,
    .banner-top2,
    .banner-top3 {
        min-height: 510px;
    }
    .banner-info-w3layouts h3 {
        font-size: 4em;
        line-height: 1.2em;
    }
    .banner-info-w3layouts {
        padding: 23% 0% 0 3%;
        width: 58%;
    }
    form.newsletter {
        width: 80%;
    }
    .speak {
        margin: 0 auto;
        width: 100%;
    }
}

@media(max-width:640px) {
    #timeline .timeline-movement {
        /* border-bottom: dashed 1px #4997cd; */
        position: relative;
        margin-bottom: 5rem;
    }
    .count-title {
        font-size: 2.5em;
    }
    .dropdown-menu {
        width: 95%;
    }
}

@media(max-width:600px) {
    .banner-info-w3layouts h3 {
        font-size: 3em;
        line-height: 1.2em;
    }
    .banner-info-w3layouts {
        width: 90%;
    }
    .banner-top,
    .banner-top1,
    .banner-top2,
    .banner-top3 {
        min-height: 399px;
    }
    #timeline .timeline-movement {
        /* border-bottom: dashed 1px #4997cd; */
        position: relative;
        margin-bottom: 5rem;
    }
    .callbacks_nav.prev {
        left: auto;
        background: url(images/prev.png) no-repeat 0px 0px;
        right: 6%;
    }
    footer h3 {
        font-size: 1em;
    }
    /**nav**/
    ul.nav-honey li a {
        width: 97%;
    }
    ul.showMenu li {
        height: auto;
        margin-left: 0;
    }
    ul.nav-honey.showMenu li {
        width: 100%;
        padding-left: 0;
        float: none;
    }
    ul.nav-honey.showMenu {
        padding: 1rem;
    }
    ul.nav-honey {
        width: 97vw;
        top: 50px !important;
    }
    button.btn.login-btn {
        margin-bottom: 1em;
    }
    #brand {
        padding-left: 10px;
        float: left;
        width: 35%;
    }
    ul.nav-honey.showMenu li {
        padding: 0.3em 0;
    }
    #menu {
        padding-right: 23px;
    }
    /**nav**/
}

@media(max-width:568px) {
    h3.tittle-w3 {
        font-size: 2.3em;
    }
    ul.nav-honey {
        display: inline-block;
        width: 96vw;
    }
    .callbacks_nav.prev {
        left: auto;
        background: url(images/prev.png) no-repeat 0px 0px;
        right: 8%;
    }

    ul.social-icons {
        display: block !important;

    }
    ul.social-icons li {
        margin-bottom: 1em;
    }
    .page-inner {
        min-height: 135px;
    }
    form.newsletter {
        width: 100%;
    }
}

@media(max-width:480px) {}

@media(max-width:440px) {
    h3.tittle-w3 {
        font-size: 2em;
    }
    .banner-info-w3layouts {
        padding: 30% 0% 0 3%;
        width: 100%;
    }
}

@media(max-width:384px) {
    .banner-top,
    .banner-top1,
    .banner-top2,
    .banner-top3 {
        min-height: 365px;
    }
    .banner-info-w3layouts {
        padding: 30% 0% 0 3%;
        width: 100%;
    }
    .banner-info-w3layouts h3 {
        font-size: 2.5em;
    }
    h3.tittle-w3 {
        font-size: 1.6em;
    }
}

@media(max-width:375px) {
    .banner-top,
    .banner-top1,
    .banner-top2,
    .banner-top3 {
        min-height: 315px;
    }
}

@media(max-width:320px) {}

/*--//responsive--*/
