<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Member</title>
    <link href="/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/style.css" type="text/css" media="all" />
    <link href="/font-awesome.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Comfortaa:300,400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900" rel="stylesheet">
    <style type="text/css">

        table,th,td{
            border:1px solid gray;
            border-collapse: collapse;
        }
        th,td{
            padding:7px 15px;
        }
        th{
            background-color: #008040;
            color: white;
        }
        tr:nth-child(even){
            background-color: #F0F0F0;
        }
        tr:hover{
            background-color: #ddd;
        }
    </style>
</head>
<body>
<header class="index-banner" id="home">
    <!-- nav -->
    <nav class="main-header d-flex">
        <div id="brand">
            <div id="word-mark">
                <h1>
                    <a href="/"><i class="fa fa-bolt" aria-hidden="true"></i></a>
                </h1>
            </div>
        </div>
        <div id="menu">
            <div id="menu-toggle">
                <div id="menu-icon">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
            <ul class="text-left nav-honey">
                <li>
                    <a href="/" class="active " >Trang chủ</a>
                </li>
                <li>
                    <a href="/quanly">Quản lý</a>
                </li>
                <li>
                    <a href="/thucdon">Thực đơn </a>
                </li>
                <li>
                    <a href="/dichvu">Dịch vụ</a>
                </li>
                <li>
                    <a href="/info">Thông tin khách hàng</a>
                </li>
                <li>
                    <a href="/logout">Đăng xuất</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </nav>
    <!-- //nav -->
    <!-- banner -->
    <!-- banner-text -->
    <div class="slider" id="slider">
        <div class="callbacks_container">
            <ul class="rslides callbacks callbacks1" id="slider4">
                <li>
                    <div class="banner-top">
                        <div class="banner-info-w3layouts text-left">
                            <h3>FoxCoffee
                            </h3>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--//Slider-->
    <!--// banner-inner -->
</header>
<div>
    <!--<table th:each="bill : ${bills}">-->
        <!--<tr>-->
            <!--<td>-->
                <!--Ten don hang-->
            <!--</td>-->
            <!--<td th:utext="${bill.nameBill}">-->
            <!--</td>-->
            <!--<td>-->
                <!--Nguoi mua-->
            <!--</td>-->
            <!--<td th:utext="${bill.nameBuyer}">-->
            <!--</td>-->
            <!--<td>-->
                <!--Tong tien-->
            <!--</td>-->
            <!--<td th:utext="${bill.priceBill}">-->
            <!--</td>-->
        <!--</tr>-->
    <!--</table>-->
    <table>
        <tr>
            <th>Tên Đơn Hàng</th>
            <th>Người Mua</th>
            <th>Số lượng</th>
            <th>Loại</th>
            <th>Tổng Tiền</th>
        </tr>
        <tr th:each="bill : ${bills}">
            <td th:utext="${bill.nameBill}"></td>
            <td th:utext="${bill.nameBuyer}"></td>
            <td th:utext="${bill.number}"></td>
            <td th:if="${bill.nameBill=='Ban 1' or bill.nameBill=='Ban 2' or bill.nameBill=='Ban 3' }">Giờ</td>
            <td th:unless="${bill.nameBill=='Ban 1' or bill.nameBill=='Ban 2' or bill.nameBill=='Ban 3' }">Suất</td>
            <td th:utext="${bill.priceBill}"></td>
        </tr>
    </table>

</div>
</body>
</html>